                                                                 //navbar color

.navbar-default {
    background-color: #2F2D27 !important;
    border-color: #2F2D27 !important;
}

                                                                 //navbar logo

img.logo_custom {
    height: 60px !important;
}

                                                             //form color and height


#widget-capture form, #widget-calendar, .flip-container {
    height: 440px;
}

.orbirental-capture-widget-form {
   background-color: rgb(44, 45, 64) !important;
}
