/* Navbar Color */

.navbar-default {
  background-color: #2f2d27 !important;
  border-color: #2f2d27 !important;
}

/* Navbar Logo */

img.logo_custom {
  height: 60px !important;
}

/* Form Color and Height */

#widget-capture form,
#widget-calendar,
.flip-container {
  height: 440px;
}

.orbirental-capture-widget-form {
  background-color: rgb(44, 45, 64) !important;
}

/* Hiding the Logo in the Body */

.agency-header-logo {
  display: none;
}

/* Changed the Text Color  */

.leadWidget p {
  color: white !important;
}

/* Hide the Footer */

div#footer {
  display: none;
}
