/* Mountain Cabins Utah - Custom Hostfully Styles */

/* Navbar Color */

.navbar-default {
  background-color: #2f2d27 !important;
  border-color: #2f2d27 !important;
}

/* Navbar Logo */

img.logo_custom {
  height: 60px !important;
}

/* Form Color and Height */

#widget-capture form,
#widget-calendar,
.flip-container {
  height: 440px;
}

.orbirental-capture-widget-form {
  background-color: rgb(44, 45, 64) !important;
}

/* Hiding the Logo in the Body */

.agency-header-logo {
  display: none;
}

/* Changed the Text Color  */

.leadWidget p {
  color: white !important;
}

/* Calendar color */

.orbirental-calendar-widget div.calendar {
    background-color: lightgrey !important;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px !important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
.orbirental-calendar-widget {
    margin: 0 auto;
    border: 1px solid gray;
    padding: 5px;
    display: block;
    max-width: 100%;
    background-color: lightgrey !important;
}

.orbirental-calendar-widget-nav {
    background-color: lightgrey !important;
    margin: 0 auto;
    font-size: 12px !important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
